body {
	background-image: url(fondolapiz.jpg);
	background-size:  1400px;
}

button {
	font-size: 20px;
	background-color: #5f5654;
	box-shadow: 50px 13px 37px #000;
	color: #fff;
	width: 100px;
	margin: 10px;
	margin-top: 40px;
	border: color white 3px;
}
form{

	box-shadow: 10px 13px 37px;
	padding: 50px 20px;
	margin: calc (25% + 90px);
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 30px;
}

input {
	background-color: transparent;
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
}

input [type="submit"]{
	background-color: #383737;
	box-shadow: 10px 13px 37px #000;
	color: #fff;
	width: calc(50% - 20px);
	margin: 0 30px;
	margin-top: 30px;
	border: color white 3px;

}

body > form {
	margin-top: 80px;
}

body > form > select {
	margin-top: 10px;
	width: 50px;
	height: 30px;
}

h2 {
	font-size: 20px;
}